<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSCache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2FB89D31E9323500013DD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FB89EC1E9323500013DD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FB89F71E9323500013DD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
